<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Search for Race</title>
</head>

<body>
    <div class="content-container">
        <img src="/formula-1-logo-2.png" width="200">
        <h4><a th:href="@{/login}">Back</a></h4>
        <h1>Search for Race</h1>
        <form method="GET" action="/search/race">
            <label for="year">Select a Year:</label><br>
            <select id="year" name="year" th:onchange="'this.form.submit();'">
                <option th:each="year : ${availableYears}" th:value="${year}" th:text="${year}"
                    th:selected="${year == selectedYear}"></option>
            </select><br>
            <label for="round">Select a Round:</label><br>
            <select id="round" name="round">
                <option th:each="round : ${availableRounds}" th:value="${round}" th:text="${round}"></option>
            </select><br>

            <button type="submit">Search</button>

        </form>

    </div>
</body>

</html>